*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}
.color-primary{
    color:#30B868
}
.btn{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border:#30B868;
    align-items: center;
    
}
 .btn:hover{
    background-color: transparent;
    border:1px solid white;
    color: #30B868;
    cursor: pointer;
 }

.btn2{
    background-color: transparent;
    border:1px solid white;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* header style */
body{
    max-width: 1600px;
    margin: 0px auto;
}
nav{
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;

}